version: '3.8'

services:
  api:
    build: .
    container_name: event_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on: [] # No local dependencies needed now
