@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-glow: rgba(99, 102, 241, 0.3);
  --color-bg-dark: #0f172a;
  --color-bg-card: #1e293b;
}

@layer base {
  body {
    @apply bg-bg-dark text-slate-50;
    font-family: 'Inter', sans-serif;
  }
}